* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

a {
    text-decoration: none;
    color: black;
}

img {
    width: 40px;
}

hr {
    margin: 0px;
}

nav {
    margin-bottom: 40px;
}

/* img */
nav #img {
    text-align: center;
}

nav #img #menu_icon {
    display: inline-block;
    width: 30px;
    margin: 10px 0 5px;
    cursor: pointer;
    filter: invert(51%) sepia(1%) saturate(2310%) hue-rotate(24deg) brightness(98%) contrast(87%);
}

nav #img #menu_icon:active {
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(265deg) brightness(93%) contrast(107%);
}


/* #list */
nav #list {
    display: block;
}

nav #list hgroup {
    position: relative;
}

nav #list hgroup h2 {
    text-align: center;
}

nav #list hgroup #close {
    position: absolute;
    right: 150px;
    width: 30px;
    cursor: pointer;
    filter: invert(51%) sepia(1%) saturate(2310%) hue-rotate(24deg) brightness(98%) contrast(87%);
}

nav #list hgroup #close:active {
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(265deg) brightness(93%) contrast(107%);
}

nav #list #wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin: 0 auto;
    width: 1000px;

}

nav #list #wrapper dl {
    width: 180px;
    margin: 0px 10px 10px 10px;
}

nav #list #wrapper dl dt {
    text-align: center;
    color: hsl(118, 100%, 50%);
}

nav #list #wrapper dl dd {
    margin-left: 15px;
}

/* .swiper */
.swiper {
    width: 600px;
    height: 300px;
  }