a {
    text-decoration: none;
}

ul:first-child {
    font-size: large;
    color: blue;
}

ul {
    font-size: small;
}

<<<<<<< HEAD
a {
    font-style: italic;
}

=======
<<<<<<< HEAD
=======
a {
    font-style: italic;
}
>>>>>>> main
>>>>>>> main
